{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static " print.css" %}" media="print">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title>Facture</title>
</head>

<body>



    <div class="wrapper">


        <div class="inner" style="background-color: rgb(224, 212, 212);  width: 100%; height: 1000px;">
            <div style="margin-left: 40px;">
                <br>
                <h4>REPUBLIQUE DU SENEGAL 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   {{form.region}}, le {{form.date|date:"j / n/ Y"}} <br> &nbsp; <small style="font-family: Light Italic;">  Un Peuple-Un But-Une Foi</small> 
                </h4>


            </div>
            <div style="margin-left: 60px;">

                <h6> MINISTERES DES MINES <br> &nbsp;&nbsp;&nbsp;ET DE LA GEOLOGIE <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; **********</h6>



            </div>

            <div style="margin-left: 60px;">

                <h6> <strong> Service Regional des Mines et de la <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Geologie de {{form.region}} <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ********** </strong></h6>


            </div>

            <div style="margin-left: 60px;">

                <h6 style="font-family:' Dr Dafoe';">  LE CHEF DE SERVICE</h6>



            </div>
            <br>

            <div style=" border: 1px solid black; width: 450px; height: 40px; border-radius: 10px;margin-left: 180px;">
                <h3 style="text-align: center;"> PAIEMENT {{form.type_facture}} </h3>
            </div>

            <br>

            <div style="margin-left: 90px;">
                <h6>Détenteur: &nbsp;&nbsp;&nbsp;{{form.detenteur.nom_entreprise}} </h6><br><br>
                <h6>Lieu d'extraction: &nbsp;&nbsp;&nbsp;{{form.lieu_extraction}} </h6><br><br>
                <h6>Commune: &nbsp;&nbsp;&nbsp;{{form.commune}}  </h6><br><br>
                <h6>Substence Extraite: &nbsp;&nbsp;&nbsp;{{form.substence}} </h6><br><br>
                <h6>Montant Reçu: &nbsp;&nbsp;&nbsp;{{form.montant}} FCFA </h6><br><br>
            </div>




            <h7 style="margin-left: 90px;">A la Caisse au Service Regional des Mines et de la Géologie de {{form.region}}.</h7>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>


            <br>



            



            <hr style="border: 1px solid black; width:90%; margin-left: 40px;">
            <p style="text-align: center;"> <strong>Quartier Thierno Kandji Cité Millionnaire, Parcelles No 1737/B <br>
                    Tél: 33 971 15 82</strong> </p>
        </div>

    </div>






    <div>
        <button class="btn btn-success" onclick="window.print();" id="print-btn"> Imprimer </button>
    </div>

</body>



</html>