{% extends "base.html" %}

{% block title %}Acceuil{% endblock title %}

{% load static %}

{% block main %}
<div style="margin-top:80px;" class="d-flex justify-content-evenly ">

<div class="card" style="width: 20rem;">
    <img src="{% static "/img/formulaire.jpeg" %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Creer des Formulaires Ici</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href=" {% url 'Main:formulaire' %} " class="btn btn-primary stretched-link">Cliquez !</a>
    </div>
  </div>

  <div class="card" style="width: 20rem;">
    <img src="{% static "/img/attestation.jpeg" %}"  class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Creer des Attestations Ici</h5>
      <p class="card-text">Some quick example text to build on the card title</p>
      <a href="#" class="btn btn-primary stretched-link">Cliquez !</a>
    </div>
  </div>

</div>

{% endblock main %}